.nav {
    /* box-sizing */
    height: 15vh;
    padding: 0 10%;
}

.nav-bar__logo {
    /* font properties */
    flex-basis: 100%;
}

.nav-bar__logo a {
    /* font properties */
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    /* text properties */
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar__list {
    /* display */
    display: none;
}

.nav-bar__item a {
    /* box-sizing */
    padding: 0 1rem;
    /* font properties */
    font-size: 1rem;
    font-weight: 600;
    /* text properties */
    text-transform: uppercase;
    text-decoration: none;
    /* cursor */
    cursor: pointer;
}

.nav-bar__item--active a {
    /* text */
    color: #fd8d31;
}

.nav-bar__lang {
    /* display */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* flex properties */
    flex-basis: 10%;
}

.nav-bar__lang button {
    border: none;
	cursor: pointer;
	background: none;
	width: 30px;
}

.nav-bar__lang--active {
    display: inline-block;
}

.nav-bar__lang--unactive {
    display: none;
}

.nav-bar__lang button img {
	width: 100%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {

    .nav-bar__list {
        /* box-sizing */
        padding: 0 1rem;
        /* display */
        display: flex;
        align-items: center;
        justify-content: center;
        /* list */
        list-style-type: none;
    }

}

@media screen and (min-width: 1200px) {
    
    .nav-bar__logo {
        /* flex properties */
        flex-basis: 10%;
    }

    .nav-bar__list {
        /* flex properties */
        flex-basis: 100%;
    }

    .nav-bar__item--theme {
        /* display */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar__item--theme button {
        /* border */
        border: none;
        /* cursor */
        cursor: pointer;
        /* background */
        background: none;
        /* box-sizing */
        height: 20%;
        width: 20%;
        /*  */
        cursor: pointer;
    }
}